//add this to your events

    <event name="StaticShipwreckEvent">
        <nominal>1</nominal>
	    <min>1</min>
	    <max>1</max>
	    <lifetime>2100</lifetime>
	    <restock>0</restock>
	    <saferadius>1000</saferadius>
	    <distanceradius>1000</distanceradius>
	    <cleanupradius>1000</cleanupradius>
	    <secondary>AnimalCrocodile</secondary>
	    <flags deletable="1" init_random="0" remove_damaged="0"/>
	    <position>fixed</position>
	    <limit>child</limit>
	    <active>1</active>
	    <children/>
    </event>
